.header {
  height: var(--header-height);
  /* background-image: linear-gradient(0, #dd5e0d, #dc343c); */
  background-color: var(--primary-color);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 8px 0;
  display: flex;
  line-height: 2rem;
}

.header__navbar-item {
  margin: 0 14px;
  position: relative;
}

.header__navbar-list:first-child .header__navbar-item-link {
  font-size: 3rem;
  line-height: 3.2rem;
}

.header__navbar-item:last-child {
  margin-right: 0;
}

.header__navbar-logo {
  margin: 0;
}

.--divine::after {
  content: "";
  height: 12px;
  position: absolute;
  display: block;
  border-left: 1px solid #fff;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 2rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 350;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--bold {
  font-weight: 450;
}

.header__navbar-icon {
  font-size: 1.6rem;
  margin-left: 6px;
}

/* Container */
.container {
  /* background-color: #f5f5f5; */
}

.contain {
  padding-top: 30px;
}

/* Check form*/
.check-form {
  width: 100%;
  border-radius: 2px;
  background-color: var(--white-color);
}

.check-form__container {
  padding: 0 32px;
  overflow: auto;
}

.check-form__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 5px;
}

.check-form__heading {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.check-form__group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.check-form__group--wrap {
  flex-wrap: wrap;
}

.check-form__label {
  width: 15%;
  font-size: 1.8rem;
  color: var(--text-color);
}

.check-form__input {
  width: 100%;
  height: 40px;
  border: #dbdbdb solid 1px;
  outline-color: rgba(0, 0, 0, 0.5);
  padding: 0 12px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  border-radius: 2px;
}

.check-form__cmt {
  width: 20%;
  margin-bottom: 14px;
}

.check-form__msg--error {
  width: 75%;
  color: var(--primary-color);
}

.check-form__textarea {
  height: unset;
  width: 87%;
  margin-left: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

.check-form__textarea--error {
  border-color: var(--primary-color);
  border-radius: 2px;
}

.check-form__control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 4px;
}