/* @import "~leaflet/dist/leaflet.css"; */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#map {
    height: 868px;
    width: 100%;
}


#img_Popup{
    width: 100%;
}


/* css thanh navbar */
#text_logo{
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-style: bold;
    font-size: 20px;
}

a#text_logo {
    padding-top: 14px;
}

a#text_logo:hover{
    color: black;
    text-decoration: none;
    opacity: 0.5;
}

li,a {
    
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 18px;
    color: white;
    text-decoration: none;
    
}

.nav_bar li a:hover {
    color: black;
    text-decoration: none;
    opacity: 0.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: #dc143c;
}

.nav_bar li{
    list-style: none;
    display: inline-block;
    padding: 18px 15px 0 15px;
}




  
